* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #a1c7ea, #2297dc);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

/*-Espaço acima para continuação do header-*/

.section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}

.section-result {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.header__text h1 {
  font-size: 50px;

  font-family: "Bebas Neue", sans-serif;
}

.header__text p {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
}

.result {
  font-size: 22px;
  font-family: "Kanit", sans-serif;
}

.label {
  font-size: 18px;
}

.section__btn {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid black;
  background: transparent;
  font-family: "Kanit", sans-serif;
  cursor: pointer;
  transition: 0.5s;
}

.section__btn:hover {
  transform: scale(1.05, 1.05);
  font-weight: bold;
}

input {
  border-radius: 4px;
}

.select-values {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  display: flex;
  gap: 16px;
  border-radius: 6px;
  padding: 2px;
  font-family: "Kanit", sans-serif;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .section {
    flex-direction: column;
    align-items: center;
  }

  .section-result {
    margin-top: 20px;
  }

  .header__text h1 {
    font-size: 36px;
  }

  .header__text p {
    font-size: 16px;
  }

  .select-values {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .select {
    margin-bottom: 10px;
  }
}
